[run]
omit =
    setup.py
    tests/*
[report]
exclude_also =
    raise AssertionError
    raise NotImplementedError
    if 0:
    if __name__ == .__main__.:
    class .*\bProtocol\):
    @(abc\.)?abstractmethod